:root {
  --HeadingXL: lighter 4rem "Star Jedi", sans-serif;
  --HeadingL: lighter 2.5rem "Star Jedi", sans-serif;
  --HeadingM: lighter 2rem "Star Jedi", sans-serif;
  --HeadingS: lighter 1.5rem "Star Jedi", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 2;
  font-weight: 400;
  background-size: cover;
  background-repeat: no-repeat;
  font-synthesis: none;
  font-family: sans-serif;
}
