 :root {
  line-height: 2;
  background-repeat: no-repeat;
  font-synthesis: none;
  font-family: sans-serif;
  font-weight: 400;
  background-image: url("../src/assets/background-theatre-509302860\ 1.png");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  font-synthesis: none;
  font-family: sans-serif;
}
main {
  height: 100vh;
}
main > div {
  height: 100%;
}

