#buttonNext {
  position: absolute;
  top: 75%;
  left: 105%;
}
#buttonNextQuestion {
  background-color: #aae6e6;
  color: #fefefe;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 15rem;
  height: 5rem;
  font-size: 1.3rem;
  font-weight: 600;
  border: white;
  border-bottom: 4px solid #18baba;
  transition: 0.3s;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
}
#buttonNextQuestion:hover {
  box-shadow: 0 0 rgba(0, 0, 0, 0.4);
  border-bottom-width: 2px;
  transform: translateY(3px);
}
