@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  #accueil {
    background-size: cover;
  }
}
