.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid black; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  height: 85%;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  text-align: center;
  font-size: 1.5rem;
  z-index: 99;
}
.closeWindow {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.close {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: transparent;
  width: 2rem;
  height: 2rem;
  border-radius: 0 10px 0 0;
  border: none;
  font-size: 2rem;
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.close:hover {
  background: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
  color: #fff;
}
.pseudo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 10px; */
}
.information-setup {
  /* margin-top: 2rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pseudo input {
  font-size: 16px;
}
.userInput {
  border-radius: 8px;
  margin: 0;
  border: 1px solid black;
}
/* .music {
  display: flex;
  justify-content: center;
} */

.theme {
  margin-top: 1rem;
  /* padding: 10px 0px 10px 0px; */
  /* flex-grow: 1; */
  /* width: 40%; */
}
.select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* gap: 10px; */
}

.custom-select {
  font-size: 1.3rem;
  text-align: center;
  border-radius: 8px;
  border: 1px solid black;
  padding: 5px;
}
.custom-select__option:hover {
  background-color: black; /* Couleur de fond au survol */
}
/* .theme select {
  color: black;
  border-radius: 8px;
  border: 1px solid black;
  font-size: 16px;
} */

/* .title-Avatar {
  padding-left: 10px;
}

.theme-option {
  display: flex;
  align-items: center;
} */

.image-preview {
  margin-top: 1rem;
  width: 30%;
  /* height: 70px; */
  object-fit: cover;
}
.personnage-Selection {
  margin-top: 1rem;
  /* display: grid;
  grid-template-columns: repeat(3, minmax(0, 74px));
  justify-items: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatars-container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  justify-items: center;
}
.avatars-container img {
  object-fit: cover;
  cursor: pointer;
  border-radius: 50%;
  /* margin: 5px; */
  min-height: 60px;
  height: 50%;
  min-width: 60px;
  width: 50%;
}
.avatars-container img:hover {
  transform: scale(1.05);
}
.avatars-container img.selected {
  border: 2px solid red;
  /* margin: 5px; */
}
/* .music input {
  margin-left: 34px;
}

.sonoreEffect {
  display: flex;
} */
.button-add-changment button {
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.3rem;
  background: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
}
/* .button-add-changment.visible {
  transform: translateY(0);
} */

.button-add-changment {
  /* transform: translateY(100%); */
  -webkit-animation: slide-top 2.5s ease-in-out both;
  animation: slide-top 2.5s ease-in-out both;
  margin-top: 10px;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-1-24 14:16:6
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(200px);
    transform: translateY(200px);
  }
  100% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(200px);
    transform: translateY(200px);
  }
  100% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
}
/* .button-add-changment button:hover {
  box-shadow: 0 0 rgba(0, 0, 0, 0.4);
  border-bottom-width: 2px;
  transform: translateY(1px);
} */

/* .button-add-changment.visible {
  transform: translateY(0);
} */

/* .control {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  margin-bottom: 10px;
}

.control label {
  margin-bottom: 5px;
}

.control input[type="range"] {
  width: 100%;
} */
@media screen and (min-width: 1800px) {
  .image-preview {
    width: 40%;
  }
  .avatars-container {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  .avatars-container img {
    min-height: 100px;
    height: 50%;
    min-width: 100px;
    width: 50%;
  }
}
