.nav-bar {
  display: flex;
  align-items: center;
  justify-content: end;
}

.nav-logo {
  margin-right: 91%;
  filter: drop-shadow(-4px -4px 50px #ffffff90);
}

.profile-picture {
  height: 5vh;
  width: auto;
  border-radius: 50%;
  margin-right: 4em;
  border: 1px solid white;
}
