#presenterContainer {
  position: absolute;
  bottom: -100px;
  right: 15%;
}

#presenter {
  height: 700px;
  filter: drop-shadow(10px 2px 4px #00000030);
}

#presenter:hover {
  cursor: pointer;
}

#speech {
  position: absolute;
  right: 60%;
  background-color: #fafafa;
  border-radius: 20px;
  padding: 10px;
  width: 100%;
  font-size: 1.3rem;
  font-weight: 600;
}

#speech::after {
  content: "";
  display: flex;
  position: absolute;
  top: 100%;
  right: 30px;
  height: 20px;
  width: 20px;
  background-color: #fafafa;
  clip-path: polygon(20% 0, 100% 100%, 0 100%);
  rotate: 180deg;
}

#speech,
#speech::after {
  animation: scale-in-center 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite
    both;
}

@keyframes scale-in-center {
  0% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.9);
  }
}

@media screen and (min-width: 2048px) {
  #presenterContainer {
    top: 35%;
  }

  #presenter {
    height: 700px;
  }
}
