#quizPresPosition {
  left: 7%;
}
#quizSpeechPosition {
  display: none;
}
.startQuizShow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: absolute;
  left: 40%;
  top: 45%;
}
.startQuizHide {
  display: none;
}

@media screen and (min-width: 1800px) {
  #quizPresPosition {
    left: 15%;
  }
}
