.inventoryCreation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 30%;
  top: 15%;
}

#questionResponse {
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  width: 100%;
}

.viewListing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 45%;
  top: 45%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 50px;
  border-radius: 10px;
}

#listingQuestion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.correct-answer {
  color: green;
}
