#quizPresPosition {
  left: 7%;
}
#quizSpeechPosition {
  display: none;
}

@media screen and (min-width: 2048px) {
  #quizPresPosition {
    left: 15%;
  }
}
@media screen and (max-width: 1600px) {
  #quizPresPosition {
    left: -5%;
  }
}
