#quizOptions {
  width: 800px;
  height: 218px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 60px;
  grid-row-gap: 24px;
  position: absolute;
  top: 65%;
  left: 35%;
}

.option {
  border-radius: 20px;
  border: none;
  background-color: #fafafa;
  filter: drop-shadow(0px 10px 4px rgba(28, 25, 25, 0.82));
  transition: 0.3s;
  font-size: 1.3rem;
  font-weight: 600;
}
.firstOption:hover,
.secondOption:hover,
.thirdOption:hover,
.forthOption:hover {
  transform: scale(1.02);
}

@media screen and (min-width: 2048px) {
  #quizOptions {
    width: 1000px;
    height: 250px;
    top: 70%;
  }
}
