.startQuizShow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: absolute;
  left: 40%;
  top: 45%;
}

.startQuizHide {
  display: none;
}
